<html>

    <head>
        <base href="/">
        <!-- Bootstrap -->
        <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- styles -->
        <link href="~/css/styles.css" rel="stylesheet">

    </head>

    <body>

        <div>
            @RenderBody()
        </div>



        <script src="~/dist/vendor.bundle.js"></script>
        <script src="~/dist/app.bundle.js"></script>
    </body>

</html>