<html>

    <head>

    </head>

    <body>

        <div>
            @RenderBody()
        </div>



        <script src="~/dist/vendor.bundle.js"></script>
        <script src="~/dist/app.bundle.js"></script>
    </body>

</html>