<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
			            <div class="content-wrap">
			                <h6>Sign In</h6>
			                <div class="social">
	                            <a class="face_login" href="#">
	                                <span class="face_icon">
	                                    <img src="images/facebook.png" alt="fb">
	                                </span>
	                                <span class="text">Sign in with Facebook</span>
	                            </a>
	                            <div class="division">
	                                <hr class="left">
	                                <span>or</span>
	                                <hr class="right">
	                            </div>
							</div>
							<form [formGroup]="signinForm" (ngSubmit)='onLogin()' >
									<input 
									formControlName="email"
									class="form-control" 
									type="text" placeholder="E-mail address">

									<div *ngIf="email.invalid && email.touched">
											<div *ngIf = "email.errors?.required">
												Email field can't be blank
											</div>
									 
											<div *ngIf = "email.errors?.pattern">
												The email id doesn't seem right
											</div>
									 
									</div>

									<input 
									formControlName="password"
									class="form-control" 
									type="password" placeholder="Password">

									<div *ngIf="password.invalid && password.touched">
											Password needs to be more than 8 characters
									</div>
									<div class="action">
											<button type="submit" class="btn btn-primary signup">
												Login
											</button>
									</div>    
							</form>
			                
			                            
			            </div>
			        </div>

			        <div class="already">
			            <p>Don't have an account yet?</p>
						<a [routerLink]="['/signup']">Sign Up</a>
						<a [routerLink]="['/contact-us']">Contact us</a>
			        </div>
			    </div>
			</div>
		</div>
	</div>